.container {
    background-color: darkgray;
    margin: 0;
}
.container-movie {
    background-color: black;
    margin: 0 auto;
    padding: 2px 25px;
    width: 80%;
    text-align: center;
}
img {
    box-sizing: border-box;
}
.leftimg {
    float: left;
    margin: 0px 15px 10px 0px;
    width: 60%;
    border: 5px solid coral;
}
p {
    text-align: justify;
    color: beige;
    font-size: 22px;
    line-height: 115%;
    margin: 0px;
}
h2, a {
    text-decoration: underline;
    color: coral;
}
h1 {
    color: coral;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.screenimg {
    width: 47%;
    margin: 1% 0;
    border: 5px solid coral;
}
.actors-trailers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block-left {
    width: 16%;
}
.acters {
    width: 92%;
    border: 5px solid coral;
}
.flex-wrap-trailers {
    display: flex;
    flex-wrap: nowrap;
}
.block-right{
    width: 75%;
    height: auto;
}
.trailers {
    width: 99%;
    height: 45%;
    margin-bottom: 50px;
    border: 5px solid coral;
}

@media (max-width: 780px) {
    p {
        font-size: 17px;
    }
    .screenimg, .block-left, .block-right, .trailers {
        width: 100%;
        height: 45%;
    }
    .acters {
        width: 45%;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 395px) {
    .leftimg {
        width: 100%;
    }
}